title: 'City Modelling Lab' # Website name
baseURL: 'https://www.citymodellinglab.uk/' # Website URL
cascade:
  - params:
      share: false

############################
## LANGUAGE
############################

defaultContentLanguage: en
hasCJKLanguage: false
defaultContentLanguageInSubdir: false
removePathAccents: true

############################
## ADVANCED
############################
enableGitInfo: false
summaryLength: 20
pagination:
  pagerSize: 10
enableEmoji: true
enableRobotsTXT: true
footnotereturnlinkcontents: <sup>^</sup>
ignoreFiles: [\.ipynb$, .ipynb_checkpoints$, \.Rmd$, \.Rmarkdown$, _cache$ , \.qmd$, \.ipynb$, \.py$]
permalinks:
  authors: '/author/:slug/'
  tags: '/tag/:slug/'
  categories: '/category/:slug/'
  publication_types: '/publication-type/:slug/'
disableAliases: true
outputs:
  home: [HTML, RSS, JSON, WebAppManifest]
  section: [HTML, RSS]
imaging:
  resampleFilter: Lanczos
  quality: 75
  anchor: Smart
timeout: '30s'
taxonomies:
  tag: tags
  category: categories
  publication_type: publication_types
  author: authors
markup:
  goldmark:
    renderer:
      unsafe: true
  _merge: deep
related:
  threshold: 50
  includeNewer: true
  toLower: true
  indices:
    - name: tags
      weight: 100
    - name: categories
      weight: 70
security:
  _merge: deep
sitemap:
  _merge: deep

